<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Service Page</h1>

        <form action="/service/<%=foundService._id %>/edit" method="post">
        <label for="">Service</label>
        <input type="text" name="service" value="<%= foundService.service %>">
        <label for="">Price</label>
        <input type="text" name="price" value="<%= foundService.price%>">
        <label for="">Details</label>
        <input type="text" name="details" value="<%= foundService.details %>">
        <% providers.forEach((provider)=> { %>
        <select name="provider" id="">
            <option value="<%=provider._id %>">
                <%=provider.name %>
            </option>
        </select>

        <% })%>
        <button>Edit Serveice</button>


    </form>
     
    <form action="/service/<%= foundService._id%>/delete" method="post"> 
        <button>Delete</button>
    </form>
    
</body>
</html>