<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Serveice Page</h1>

    <nav> 
        <a href="/service/new">Add New Servies</a>
    </nav>

    <%services.forEach((oneService)=>{ %>
    <p><%=oneService.service %></p>
    <p><%=oneService.price %></p>
    <p><%=oneService.details %></p>
    <p><%=oneService.provider.name %></p>
    <a href="/service/<%=oneService._id %>">Edit the servies</a>
    
    <% })%>
    


</body>
</html>
