<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider Page</title>
    
</head>
<body>
    <h1>Welcome to Provider Page</h1> 
    <nav> 
        <% if (user && user.role === 'Admin') { %>
            <a href="/provider/new">Add provider</a>
        <% } %>
        <a href="/">Back to Home Page</a>
    </nav>

    <% provider.forEach((oneProvider) => { %>
        <p>Name: <%= oneProvider.name %></p>
        <p>Email: <%= oneProvider.email %></p>
        <div>
            <img src="<%= oneProvider.image %>" alt="person photo" width="300">
        </div>
        <p>Qualification:  <%= oneProvider.qualification %></p> 

        <% if (user && user.role === 'Admin') { %>
            <a href="/provider/update/<%= oneProvider._id %>">Edit provider</a>
            <form action="/provider/delete/<%= oneProvider._id %>" method="post" style="display:inline">
                <button>Delete</button>
            </form>
        <% } %>
        <hr>
    <% }) %>

</body>
</html>
