<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Provider</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('../navbar') %>

    <div class="auth-container">
        <h1>Update Provider</h1>

        <form action="/provider/update/<%= foundProvider._id %>" method="post" class="auth-form">

            <label>Name:</label>
            <input type="text" name="name" class="input" value="<%= foundProvider.name %>">

            <label>Email:</label>
            <input type="text" name="email" class="input" value="<%= foundProvider.email %>">

            <label>Photo URL:</label>
            <input type="text" name="image" class="input" value="<%= foundProvider.image %>">

            <label>Qualification:</label>
            <input type="text" name="qualification" class="input" value="<%= foundProvider.qualification %>">

            <button class="sign-inBtn" type="submit">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Update Provider</span>
            </button>

        </form>
    </div>

</body>
</html>
