<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Create Appointment Page</h1>

    <form action="/appointment/new" method="post">

        <label for="">Date:</label>
        <input type="date" name="date">
        <label for="">Time:</label>
        <input type="time" name="time"> 
        <label for="">Servies</label>
        <%service.forEach((oneService)=>{ %>
        <select name="service" id="">
            <option value="<%=oneService._id %>">
                <%=oneService.service %>
            </option>


        </select>
        <% })%>
        <label for="">Price:</label>
        <%service.forEach((oneService)=>{ %>
        <select name="price" id="">
            <option value="<%=oneService._id %>">
                <%= oneService.price %>
            </option>


        </select>
        <% })%>
        <label for=""> Provider</label>
        <%service.forEach((oneService)=>{ %>
        <select name="provider" id="">
            <option value="<%=oneService._id %>">
                <%=oneService.provider.name %>
            </option>


        </select>
        <% })%>



        <button>Create</button>
        
    </form>
</body>
</html>
